<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCrEZH4PuUeKntlsX6QVB2N2jrD_Ow-IzY</string>
	<key>GCM_SENDER_ID</key>
	<string>533039063859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shareQuestion</string>
	<key>PROJECT_ID</key>
	<string>sharequestion-ed0ef</string>
	<key>STORAGE_BUCKET</key>
	<string>sharequestion-ed0ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533039063859:ios:edd69fe294259dc13cd446</string>
</dict>
</plist>